<div class="card m-2 mt-5" id="new-comment">
    <div class="card-body">
        <form>
            <!--닉네임-->
            <div class="mb-2">
                <input type="hidden" id=new-comment-nickname value="{{user}}">
                <label class="form-label fw-bold">{{user}}</label>
            </div>

            <!-- 댓글 내용 입력 -->
            <div class="mb-3">
                <textarea class="form-control form-control-sm" id="new-comment-body" rows="3" placeholder="댓글을 남겨보세요."></textarea>
            </div>

            <!-- 히든 인풋 -->
            {{#article}}
            <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}

            <button type="button" class="btn btn-outline-primary" id="new-comment-btn">댓글 작성</button>
        </form>
    </div>
</div>

<script>
{
    <!--    버튼 변수화    -->
    const commentCreateBtn = document.querySelector("#new-comment-btn");

    <!--   버튼 클릭 이벤트 리스너-->
    commentCreateBtn.addEventListener("click", function() {
        // 새 댓글 객체 생성
        const comment = {
            nickname: document.querySelector("#new-comment-nickname").value,
            body: document.querySelector("#new-comment-body").value,
            article_id: document.querySelector("#new-comment-article-id").value,
        };

        // fetch() - Talend API 요청을 JS로 보내줌!
        const url = `/api/articles/${comment.article_id}/comments`;
        fetch(url, {
            method: "POST",     // POST 요청
            body: JSON.stringify(comment),  // comment JS 객체를 JSON으로 변경
            headers:{
                "Content-Type": "application/json"
            }
        }).then(response => {
            // http 응답 코드에 따른 메시지 출력
            const msg = (response.ok) ? "댓글이 등록되었습니다!" : "댓글 등록 실패..!";
            alert(msg);

            // 페이지 새로고침
            window.location.reload();
        });
    });
}
</script>